@font-face{font-family:"MuseoSansCyrl";font-weight:400;src:url(http://bizweb.dktcdn.net/100/395/283/themes/776535/assets/museosanscyrl-500.otf?1638437438599) format("opentype")}

*{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.7;
    font-family: "MuseoSansCyrl", sans-serif;
}

header{
    box-shadow: 0 3px 6px #efefef;
}

.hlhead{
    width: 1170px;
    text-align: right;
    margin: auto;
    font-size: 16px;
}

.hlhead a{
    text-decoration: none;
    color: red;
}

.container{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.container a{
    height: 20px;
}

.menu{
    list-style: none;
}

.menu .nav-item{
    float: left;
    margin-right: 15px;
    /* line-height: 63px; */
}

.menu .nav-item:hover>ul{
    display: block;
}

.menu .nav-item a:hover{
    color: black;
}

.menu .nav-item a:hover>ul{
    display: block;
}

.menu .nav-item>a::after{
    content: '';
    background: #000;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s;
}

.menu .nav-item:hover>a::after{
    width: 100%;
}

.menu .nav-item a{
    text-decoration: none;
    color: #404040;
    text-transform: uppercase;
    padding: 26px 0;
    position: relative;
}

.menu-lv2{
    position: absolute;
    display: none;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    list-style: none;
    top: 98px;
    min-width: 280px;
}

.menu-lv2 .nav-item-lv2{
    border-bottom: 1px dashed #ddd;
    position: relative;
}

.menu-lv2 .nav-item-lv2 a:hover{
    background-color: gainsboro;
}

.menu-lv2 .nav-item-lv2 a{
    display: block;
    padding: 10px;
    line-height: 20px;
}


.menu-lv2 .nav-item-lv2 a i{ 
    float: right;
    line-height: 20px;
    position: relative;
}

.menu-lv2 .nav-item-lv2:hover>ul{
    display: block;
}

.menu-lv3{
    position: absolute;
    display: none;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    list-style: none;
    top: 0px;
    min-width: 280px;
    left: calc(100% - 6px);
}

.menu-lv3 .nav-item-lv3{
    border-bottom: 1px dashed #ddd;
}

.menu-lv3 .nav-item-lv3:hover{
    background-color: gainsboro;
}

header .search{
    padding: 8px 14px;
    border: 1px #ebebeb solid;
    border-radius: 50%;
    position: relative;
}

header .search .search-bar{
    position: absolute;
    right: -2px;
    top: 59px;
    display: none;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    width: 260px;
    padding: 5px;
}

.search-bar input{
    height: 44px;
    border-radius: 20px;
    padding-right: 40px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 0 20px;
}

.search-bar input:focus{
    outline: none;
}

.search-bar button{
    background: none;
    position: absolute;
    right: 2px;
    top: 5px;
    width: 44px;
    height: 44px;
    padding: 0;
    text-align: center;
    box-shadow: none;
    border: none;
}

.account{
    font-size: 18px;
    border-radius: 50%;
    padding: 8px 17px;
    border: 1px #ebebeb solid;
    border-radius: 50%;
    position: relative;
}

.account a i{
    color: #C6C3BD;;
}

.account ul{
    position: absolute;
    right: -104px;
    top: 57px;
    width: 150px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    list-style: none;
    display: none;
    font-size: 16px;
}

.account ul li{
    padding: 5px 10px;
}

.account ul li:nth-child(1){
    border-bottom: 1px dashed #ddd;
}

.account ul li a{
    text-decoration: none;
    color: #404040;
}

.cart a{
    text-decoration: none;
    color: #404040;
}

.cart i{
    font-size: 40px;
    float: left;
    margin-right: 10px;
}

.cart .text{
    float: left;
    font-size: 20px;
    text-align: left;
    line-height: 1.1;
}

.cart .count{
    font-size: 14px;
}


/* .banner img{
    width: 100%;
}

.banner .flickity-page-dots{
    bottom: 20px !important;
} */
.gallery-cell {
    width: 1356px;
    margin-right: 10px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
}

.gallery-cell img{
    width: 100%;
}

.banner .flickity-page-dots{
    bottom: 55px !important;
} 

.banner .flickity-prev-next-button{
    display: none;
}

.new-arrival .title{
    text-align: center;
}

.new-arrival a{
    text-decoration: none;
    color: #000;
}

.new-arrival a:hover{
    color: #404040;
}

.new-arrival .list-item{
    width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.new-arrival .list-item .item{
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
}

.new-arrival .list-item .item:hover a:nth-child(2){
    opacity: 0.8;
}

.new-arrival .list-item .item:hover form{
    transition: all 100ms;
    bottom: 0px;
}

.new-arrival .list-item .item-sale{
    z-index: 1;
    position: absolute;
    height: 35px;
    width: 36px;
    text-align: center;
    top: 15px;
    left: 15px;
    background: url(https://bizweb.dktcdn.net/100/395/283/themes/776535/assets/sales.png?1640015779450) no-repeat;
}

.new-arrival .list-item .item-image{
    position: relative;
    overflow: hidden;
}

.new-arrival .list-item .item img{
    width: 100%;   
}

.new-arrival .list-item .item .item-image a:first-child{
    padding-top: 30px;
    height: 292px;
    display: block;
}
.new-arrival .list-item .item a:nth-child(2){
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #7a7a7a;
    opacity: 0;
}

.new-arrival .list-item .item a:nth-child(2):hover{
    opacity: 1;
}

.new-arrival .list-item .item form:hover{
    opacity: 1;
}

.new-arrival .item-text .item-name{
    color: #404040;
    font-size: 16px;
}

.new-arrival .item-text .item-name:hover{
    color: #000;
}

.new-arrival .item-price span{
    font-size: 18px;
}

.new-arrival .item-price span:first-child{
    margin-right: 10px;
}

.new-arrival .item-price span:last-child{
    color: #707070;
    text-decoration: line-through;
}

.new-arrival form{
    width: 100%;
    background-color: #7a7a7a;
    position: absolute;
    bottom: -45px;
    opacity: 0.8;
    transition: all 200ms;
}

.new-arrival form button{
    height: 45px;
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    transition: all 100ms;
}