@font-face{font-family:"MuseoSansCyrl";font-weight:400;src:url(http://bizweb.dktcdn.net/100/395/283/themes/776535/assets/museosanscyrl-500.otf?1638437438599) format("opentype")}

*{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.7;
    font-family: "MuseoSansCyrl", sans-serif;
}

header{
    box-shadow: 0 3px 6px #efefef;
}

.container{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container a{
    height: 20px;
}

.menu{
    list-style: none;
}

.menu .nav-item{
    float: left;
    margin-right: 15px;
}

.menu .nav-item a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.menu .nav-item .active{
    
}

header .search{
    padding: 8px 14px;
    border: 1px #ebebeb solid;
    border-radius: 50%;
    position: relative;
}

header .search .search-bar{
    position: absolute;
    right: -2px;
    top: 48px;
    display: none;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    width: 260px;
    padding: 5px;
}

.search-bar input{
    height: 44px;
    border-radius: 20px;
    padding-right: 40px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 0 20px;
}

.search-bar input:focus{
    outline: none;
}

.search-bar button{
    background: none;
    position: absolute;
    right: 2px;
    top: 5px;
    width: 44px;
    height: 44px;
    padding: 0;
    text-align: center;
    box-shadow: none;
    border: none;
}

.account{
    font-size: 18px;
    border-radius: 50%;
    padding: 8px 17px;
    border: 1px #ebebeb solid;
    border-radius: 50%
}